# my markdown snippets.
snippet labq "LabQ博客模板" !b
"=========== Meta ============
"StrID : 
"Title : 
"Slug : 
"Cats  :  Technology, Coding
"Tags  : 
"========== Content ==========
<!--markdown-->
endsnippet

snippet youku "优酷文章模板" !b
##@@（$1）$2

本视频介绍$3。

## PPT下载

$4

## 观看视频

@@YOUKU@@$5@@YOUKU@@
endsnippet

snippet wxhide "微信隐藏文章" !b
<!--wxfollow start-->
$1
<!--wxfollow end-->
endsnippet
